:root {
    --pixelSize: 16px;
}

* {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


div#grid {
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}
div.pixel {
    width: var(--pixelSize);
    min-height: var(--pixelSize);
}
.colored {
    background-color: blue;
}
#div1 {
    display: flex;
    align-items: center;
    gap: 10px;
}
#buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}